@media screen and (max-width:1200px) {
    .navigation {display: block;
        flex-direction: column;
        margin-bottom: 53px;
    }

    .nav-left{
        flex-direction: column;
         /* text-align: center; */
         text-align:left;
         margin-right: -2px;
         
    }
    .nav-left span{
        text-align: center;
    }
    .nav-left li a{ flex-direction:block ;
        text-align:left;
    /* padding-right: 15px; */
         margin-right: 2px; */
    }
.nav-right{
    /* flex-direction:block; */
   text-align: center;
    padding: 2px;
    margin: 2px;

}
.content-right{
    display: none;
}
.home-art{
    flex-direction: column;

}
h3,div,span{font-size: 20px;}
.home-art-img{
    text-align: center;
}
.year-box{
   display: none;
    /* top: 25px;
    font-size: 11px;
    display: flex; */
}
.year-box div{padding: 0 3px;
    margin: 0;

}
.home-art img{width: 70vw;}
.form-box input, textarea{width: 65vw;}
.social{  display: none;
}
    .post-img{height:auto;}

}
